@page "/"
@inject ITmdbService TmdbService
@inject NavigationManager navManager
@inject IMovieData movieData

<div class="index-container">
    <div class="index-page-content">

        <h1 class="page-heading text-uppercase mb-6">Documentary Genie</h1>
        <div class="generate-conatiner">
            <button class="generate-more-button btn btn-outline-light btn-lg text-uppercase" @onclick="GenerateMovies">Generate Documentaries</button>
        </div>

    </div>
</div>






@code {
    MovieResponse movies;


    private async Task GenerateMovies()
    {
        movies = await TmdbService.GetPopularMoviesAsync();
        movieData.SetMovies(movies);
        navManager.NavigateTo("/SuggestedMovies");

    }


    private void OpenDetails(Movie movie)
    {
        navManager.NavigateTo($"/DocumentaryDetails/{movie.id}");
    }
}